$color-primario-eyngel: #0F4898;
$color-primario-eyngel-hover: #072B5B;
$color-secundario-eyngel: #A7A7A7;
$color-cuarto-eyngel: #373435;

video {
    cursor: pointer;
}

.price-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 30px;
}

label {
    font-size: 12px;
    font-weight: 500;
}

p {
    font-size: 16px;
    font-weight: 600;
}

.button-check::before{
    font-size: 19px;
    content: "\F588";
    font-family:'Bootstrap-icons';
}

.button-check-delete::before{
    font-size: 19px;
    content: "\F586";
    font-family:'Bootstrap-icons';
}

.range-slider {
    width: 100%;
    position: relative;
    margin: 15px 0 30px 0;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
    position: absolute;
    left: 0;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #072B5B;
    cursor: pointer;
    margin-top: -5px;
    position: relative;
    z-index: 1;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    background: #e8e8e8;
    border-radius: 3px;
    border: none;
}

/*Buttons red social*/
.bn-follow {
    width: 100px;
    border: 0;
    padding: 8px;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 14px;
    background-color: $color-primario-eyngel;
    transition-duration: .2s;
    font-weight: 400;
    color: #fff;
    &:hover {
        background-color: $color-primario-eyngel-hover;
    }
}

.bn-follow-delete {
    width: 100px;
    border: 1px solid $color-primario-eyngel-hover;
    padding: 8px;
    font-size: 14px;
    border-radius: 5px;
    margin-left: 10px;
    transition-duration: .2s;
    background-color: #fff;
    &:hover {
        color: #fff;
        background-color: #efefef;
    }
}

.bn-primary {
    color: #fff;
    background-color: $color-primario-eyngel;
    transition: .2s;

    &:hover {
        color: #fff;
        border: 1px solid $color-primario-eyngel-hover;
        background-color: $color-primario-eyngel-hover;
    }
}

#icon_play_post_video {
    position: absolute;
    left: 46%;
    top: 45%;
    color: #fff;
    font-size: 60px;
    z-index: 990;
    cursor: pointer;
}

/*End buttons*/

/*Form custom*/
.form-custom-auth {
    width: 100%;
    padding: 15px 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid $color0;
    outline: none;
    font-size: 15px;
    background-color: $color4;
    color: $color2;

    &:focus {
        border: 1px solid $color-primario-eyngel !important;
    }
}

.form-custom {
    width: 100%;
    padding: 15px 10px;
    border-radius: 5px;
    border: 1px solid $color-gray-3;
    outline: none;
    font-size: 15px;
    background-color: $color4;
    color: $color2;

    &:focus {
        border: 1px solid $color-primario-eyngel !important;
        border-radius: 5px;
    }
}

/*End form custom*/


.header {
    width: 100%;
    height: 60px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: $color-primario-eyngel;
    position: fixed;
    z-index: 1000;
    .form-buscador {
        margin: 0 60px;
        .buscador {
            position: relative;
            width: 220px;
            padding: 10px 12px;
            border: none;
            outline: none;
            padding-left: 20px;
            border-radius: 50px;
            color: #000;
            background-color: #fff;
            transition: all .5s;
        }
    }

    .saludo {
        margin: 0 40px;
        display: flex;
        .img-nav {
            width: 70px;
            margin-top: 5px;
        }
    }
}

.a-fixed {
    width: 20%;
    height: calc(100vh - 180px);
    position: fixed;
    z-index: 1;
}

.a-fixed-right {
    width: 20%;
    height: calc(100vh - 180px);
    position: fixed;
    z-index: 1;
}

#content-notify-site{
    width: 100%;
    max-height: 200px;
    overflow-y: scroll;
    z-index: 999;
    .comment-notify{
        &:hover{
            background-color: #efefef;
        }
    }
}

.name-profile {
    width: 70%;
    display: flex;
    gap: 10px;
    align-items: center;
}

#menu-filter-movil{
    display: none !important;
}

.card-custom-post {
    width: 95%;
    padding: 2px;
    .card-header-custom {
        width: 100%;
        height: 60px !important;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .name-profile {
            width: 70%;
            height: 100%;
            display: flex;
            gap: 10px;
            align-items: center;
        }
        .complement-profile {
            width: 30%;
            height: 100%;
            display: flex;
            justify-content: end;
            i{
                font-size: 20px;
            }
        }
        .bn-follow-content {
            width: 30%;
            display: flex;
            margin-top: 0px;
            align-items: center;
            justify-content: center;
        }

        .img-profile-min {
            width: 40px;
            height: 40px;
            border-radius: 5px;
            object-fit: cover;
        }
    }
    .card-custom-descripcion {
        width: 100%;
        height: 100%;
        line-height: 20px;
        p{
            font-size: 14px;
            font-weight: 500;
        }
    }

    .content-post-body {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: end;
        padding: 0px;
        .card-custom-post-body {
            width: 100%;
            height: 100%;
            border-radius: 5px;
            .card-custom-video {
                width: 100%;
                height: 450px;
                object-fit: contain;
                transform: scale(0.95);
                background-color: #373435;
                object-position: center;
                cursor: pointer;
                border-radius: 5px;
            }

            .card-custom-img {
                width: 100%;
                max-height: 550px;
                transform: scale(0.95);
                object-fit: contain;
                background-color: #fff;
                cursor: pointer;
                border-radius: 5px;
            }
        }
    }
}

.complement-profile {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    .button-delete-post {
        button {
            font-size: 15px;
            background-color: transparent;
            border: 0;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #303135;

            i {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &:hover {
                border-radius: 50%;
                background-color: #efefef;
            }
        }

        .dropdown-menu {
            width: 250px !important;
            position: absolute !important;
            left: -230px !important;
            font-size: 14px !important;
            z-index: 1000 !important;

            .dropdown-item {
                padding: 12px 14px !important;
            }
        }
    }
}

.card-custom-video {
    width: 100%;
    height: 550px;
    background-color: black;
    object-position: center;
    cursor: pointer;
    border-radius: 5px;
}

.card-custom-icons {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    padding-left: 20px;

    i{
        font-size: 20px;
    }

    .card-custom-info-post {
        font-size: 14px;
    }

    .card-custom-icons-min {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        .button-red-min {
            width: 100px;
            height: 35px;
            border: 0;
            background-color: transparent;
            transition-duration: .2s;
            &:hover {
                background-color: #efefef;
            }
        }
    }
}

.content-monetizacion {
    width: 90%;
    margin: auto;
}

/*Publicidad home*/
.publicidad-home {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .card-publicidad-home {
        width: 100%;
        img {
            width: 100%;
            height: 200px;
            object-fit: fill;
        }

        p {
            font-size: 14px;
        }
    }
}

.view-post{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    .post{
        width: 185px;
        height: 150px;
        .img-post{
            width: 100%;
            height: 70%;
            object-position: center;
            object-fit: cover;
        }
    }
}

/*Promoción*/
#selectedImages{
    width: 100%;
    max-height: 200px;
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    overflow-x: scroll;
    margin-top: 10px;
    img{
        width: 250px;
        height: 200px;
        object-fit: cover;
    }
}
/*Fin*/


.button-selection{
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: end;
}

.content-post-eyngel{
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    //border: 1px solid red;
    textarea{
        border: none;
        &:hover{
            border: 0px;
        }
        &:focus{
            border: 0px;
        }
    }
}

.title-profile{
    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize;
    color: #000;
    margin-top: 10px;
    cursor: pointer;
    &:hover{
        color: #072B5B;
    }
}

.sugeriencias{
    width: 100% !important;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: scroll;
    .card-sugerencia{
       width: 100%; 
       height: 300px;
       margin-bottom: 10px;
       img{
        width: 100%;
        height: 150px;
        object-fit: contain;
        background-color: #efefef;
        object-position: top;
       }
       .buttons-action{
        width: 100%;
        display: flex;
        margin-top: 20px;
        gap: 5px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        line-height: 10px;
        font-size: 14px;
       }
    }
}

/*Fin*/


@media only screen and (min-width: 600px) and (max-width: 1500px) {
    .icon {
        left: 6.2% !important;
    }
}

@media only screen and (max-width: 600px) {

    #anuncio-pc {
        display: none;
    }

    .header {
        width: 100%;
        height: 70px;
        justify-content: space-between;

        .form-buscador {
            margin: 0 5px;
        }

        .saludo {
            .img-nav {
                width: 70px;
                margin-top: 5px;
            }
        }
    }

    .filter-profile {
        display: none;
    }

    .contenido-nueve {
        margin-top: 5px;
    }

    .card-custom-icons {
        padding-left: 0px;

        .card-custom-info-post {
            font-size: 12px;
        }

        .card-custom-icons-min {
            font-size: 12px;
        }
    }

    .card-custom-post {
        .card-header-custom {
            .name-profile {
                width: 80%;

                .img-profile-min {
                    width: 50px;
                    height: 50px;
                    border-radius: 10px;
                    object-fit: cover;
                }

                p {
                    width: 100%;
                }
            }

            .bn-follow-content {
                width: 20%;
            }
        }
    }

    .content-profile {
        width: 100%;
        height: 100%;
        gap: 0;
        margin-top: 0;
        .content-profile-header{
            gap: 0;
            flex-direction: column;
            padding-left: 0;
            padding: 10px;
        }
        .card-img-profile {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            object-fit: cover;
        }

        .info-red-min {
            text-align: center;
            .d-flex{
                justify-content: center;
            }
            .titulo-h2 {
                font-size: 16px;
                margin-top: 10px;
            }
        }

        #buttons-action-movil {
            button {
                font-size: 12px;
            }

            a {
                font-size: 12px;
            }
        }
    }

    .content-filter-profile{
        margin-bottom: 100px;
    }

    .content-monetizacion {
        width: 100%;
    }

    .complement-profile {
        .button-delete-post {
            .dropdown-menu {
                left: 60px !important;
            }
        }
    }

    #menu-cargar{
        justify-content: center;
        flex-direction: column;
        .button-selection{
            justify-content: center;
        }
    }

    #menu-filter-movil{
        display: flex !important;
    }

    .button-notify{
        display: none;
    }

    .a-fixed{
        display: none;
    }

    .content-notify-mobile{
        z-index: 999;
    }

    .content-site-notify{
        display: none;
    }

}